<!DOCTYPE html>
<html>
<head>
  <title>DonutKnight</title>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Bangers', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'phaser', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js", 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="game-container">
		<%= yield %>
	</div>
</body>
</html>
